.row-header{
  margin:0px auto;
  padding:0px auto;

  h1 {
    color: black;
  }
  p {
    color: black;
  }
}

.row-content {
  margin:0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height:400px;
}

.footer{
  background-color: #6c757d;
  margin:0px auto;
  padding: 20px 0px 20px 0px;
}

.jumbotron {
  padding:70px 30px 70px 30px;
  margin:0px auto;
  background: #adb5bd;
  color:floralwhite;
}

address{
  font-size:80%;
  margin:0px;
  color:#0f0f0f;
}

.navbar-dark {
  background-color: #495057;
}

.nav-item {
  padding-left: 10px;
   a {
    color: white;
   }

   a:hover {
    color: white;
  }

}

.media {
  padding: 0 15px 15px 15px;
}

.media-body {
  text-align: justify;
}

.heading {
  h2 {
    margin-bottom: 1.5rem;
  }
}

.page-enter {
  opacity: 0.01;
  transform: translateX(-100%);

  &-active {
    opacity: 1;
    transform: translateX(0%);
    transition: all 300ms ease-in;
  }
}

.page-exit {
  opacity: 1;
  transform: translateX(0%);

  &-active {
    opacity: 0.01;
    transform: translateX(100%);
    transition: all 300ms ease-out;
  }
}
